<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGV.js with Local Server BAM</title>

    <script type="text/javascript" src="{% static 'bamView/js/igv.min.js' %}"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #igv-browser {
            width: 100%;
            height: 600px;
            margin: 20px 0;
        }

        #controls {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>IGV.js Web Browser with Server BAM</h1>

    <div id="controls">
        <label for="bam">BAM File Name:</label>
        <input type="text" id="bam" placeholder="Enter BAM file name (e.g., /Users/yanhansong/igv/bam/T23699.bqsr.bam)" value="/Users/yanhansong/igv/bam/T23699.bqsr.bam">
        <br><br>

        <label for="locus">Locus:</label>
        <input type="text" id="locus" placeholder="Enter locus (e.g., chr7:55242462-55242475)" value="chr7:55242462-55242475">
        <br><br>

        <button id="load-btn">Load BAM File</button>
    </div>
    <script type="text/javascript">
        var bamFile = document.getElementById("bam").value;
        var locus = document.getElementById("locus").value;
        fetch('/bamView/test/', {
            method: 'POST',
            headers:{
                'Contect-Type':'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body:JSON.stringify({
                bamFile: bamFile,
                locus:locus,
            })
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById("name").textContent = data.output || data.error;
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("name").textContent = "Error executing command";
            })
    </script>

    <script type="text/javascript">
        var bamFile = document.getElementById("bam").value;
        var locus = document.getElementById("locus").value;
        fetch('/bamView/get_bam/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(({
                    bamFile: bamFile,
                    locus: locus
                }))
            })
                .then(response => {
                    if(response.ok) {
                        return response.json();
                    }
                    throw new Error("NetWork response was not ok" + response);
                })
                .then(data => {
                    document.getElementById("bamfile").textContent = data.output || data.error;
                })
                .catch(error => {
                    console.error("Error:", error);
                    document.getElementById("locus").textContent = "Error executing command";
                })
    </script>


    <div id="igv-browser"></div>

    <script type="text/javascript">
        function createIGV(bamFile, locus) {
            var igvDiv = document.getElementById("igv-browser");
            var bamFileArr = bamFile.split("/");
            var arrLength = bamFileArr.length;
            var bamfileTmp = bamFileArr[arrLength - 1];
            var bamUrl = "{% static 'bamView/bams/' %}" + encodeURIComponent(bamfileTmp);
            var baiUrl = "{% static 'bamView/bams/' %}" + encodeURIComponent(bamfileTmp) + ".bai";
            var options = {
                genome: "hg19",
                locus: locus,
                tracks: [
                    {
                        type: 'alignment',
                        format: 'bam',
                        url: bamUrl,
                        indexURL: baiUrl,
                        name: 'BAM File: ' + bamfileTmp
                    }
                ]
            };
            {#if (window.browser) {#}
            {#    window.browser.destroy();#}
            {# }#}

        igv.createBrowser(igvDiv, options).then(function (browser) {
            console.log("IGV browser created successfully!");
            window.browser = browser;
            });
        }


        document.getElementById("load-btn").addEventListener("click", function () {
            var bamFile = document.getElementById("bam").value;
            var locus = document.getElementById("locus").value;
            createIGV(bamFile, locus);
        });
    </script>
</body>
</html>